---
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import HowToStart from '../components/HowToStart.astro';
import LogoCarousel from '../components/LogoCarousel.astro';
import OneColumnText from '../components/OneColumnText.astro';
import Prices from '../components/Prices.astro';
import ServicesBoxes from '../components/ServicesBoxes.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
import { Image } from 'astro:assets';
import projektImg from './../images/projekt.webp';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
---

<SiteLayout
    pageTitle="Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Blog"
    keywords="tworzenie www blog, projektowanie stron internetowych uk, dla firmy w uk"
    desc="Blog o marketingu i tworzeniu stron internetowych w UK"
>
    <Header />
    <HeroInner
        subtitle="Pomocne artykuly dla Twojej Firmy!"
        title1="Blog"
    />
    <!-- <LogoCarousel /> -->

    <div class="relative bg-gray-50 px-6 pt-16 pb-20 lg:px-8 lg:pt-24 lg:pb-28">
        <div class="absolute inset-0">
            <div class="h-1/3 bg-white sm:h-2/3"></div>
        </div>
        <div class="relative mx-auto max-w-7xl">
            <div class="text-center">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Warto wiedzieć</h2>
                <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">
                    Nasz blog to przydatne artykuły z dziedziny marketingu, tworzenia stron, sklepów internetowych,
                    pozycjonowania dla firm z Wielkiej Brytanii.
                </p>
            </div>
            <div class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img
                            class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
                            alt=""
                        />
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-indigo-600">
                                <a
                                    href="#"
                                    class="hover:underline"
                                    >Strony Internetowe</a
                                >
                            </p>
                            <a
                                href="#"
                                class="mt-2 block"
                            >
                                <p class="text-xl font-semibold text-gray-900">Boost your conversion rate</p>
                                <p class="mt-3 text-base text-gray-500">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium
                                    praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.
                                </p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Roel Aufderehar</span>
                                    <img
                                        class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt=""
                                    />
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a
                                        href="#"
                                        class="hover:underline"
                                        >Roel Aufderehar</a
                                    >
                                </p>
                                <div class="flex space-x-1 text-sm text-gray-500">
                                    <time datetime="2020-03-16">Mar 16, 2020</time>
                                    <span aria-hidden="true">·</span>
                                    <span>6 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img
                            class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
                            alt=""
                        />
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-indigo-600">
                                <a
                                    href="#"
                                    class="hover:underline"
                                    >Sklepy Internetowe</a
                                >
                            </p>
                            <a
                                href="#"
                                class="mt-2 block"
                            >
                                <p class="text-xl font-semibold text-gray-900">
                                    How to use search engine optimization to drive sales
                                </p>
                                <p class="mt-3 text-base text-gray-500">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit facilis asperiores
                                    porro quaerat doloribus, eveniet dolore. Adipisci tempora aut inventore optio
                                    animi., tempore temporibus quo laudantium.
                                </p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Brenna Goyette</span>
                                    <img
                                        class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt=""
                                    />
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a
                                        href="#"
                                        class="hover:underline"
                                        >Brenna Goyette</a
                                    >
                                </p>
                                <div class="flex space-x-1 text-sm text-gray-500">
                                    <time datetime="2020-03-10">Mar 10, 2020</time>
                                    <span aria-hidden="true">·</span>
                                    <span>4 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                    <div class="flex-shrink-0">
                        <img
                            class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
                            alt=""
                        />
                    </div>
                    <div class="flex flex-1 flex-col justify-between bg-white p-6">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-indigo-600">
                                <a
                                    href="#"
                                    class="hover:underline"
                                    >Pozycjonowanie</a
                                >
                            </p>
                            <a
                                href="#"
                                class="mt-2 block"
                            >
                                <p class="text-xl font-semibold text-gray-900">Improve your customer experience</p>
                                <p class="mt-3 text-base text-gray-500">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum rerum voluptatem
                                    quo recusandae magni placeat saepe molestiae, sed excepturi cumque corporis
                                    perferendis hic.
                                </p>
                            </a>
                        </div>
                        <div class="mt-6 flex items-center">
                            <div class="flex-shrink-0">
                                <a href="#">
                                    <span class="sr-only">Daniela Metz</span>
                                    <img
                                        class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt=""
                                    />
                                </a>
                            </div>
                            <div class="ml-3">
                                <p class="text-sm font-medium text-gray-900">
                                    <a
                                        href="#"
                                        class="hover:underline"
                                        >Daniela Metz</a
                                    >
                                </p>
                                <div class="flex space-x-1 text-sm text-gray-500">
                                    <time datetime="2020-02-12">Feb 12, 2020</time>
                                    <span aria-hidden="true">·</span>
                                    <span>11 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
    <TwoColumnImgRight
        showPlural="true"
        title="Dlaczego jesteśmy najlepsi?"
        text="Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową? Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. "
    />
    <TwoColumnLeft
        title="Po co mi strona internetowa?"
        text=" Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów. Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem, intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!"
    />
    <OneColumnText
        title="Dlaczego jesteśmy najlepsi?"
        subtitle="Od nas oczekuj więcej niż oferuje konkurencja."
        text="Jesteśmy pełnym pomysłów zespołem, gotowym zrealizować każdy nawet najbardziej wymagający projekt. Nasza praca nie jest dla nas tylko zadaniem do wykonania, ale przed wszystkim kolejną sposobnością, żeby kreować rzeczywistość wokół nas. Tworzymy strony internetowe, które oddziaływają na klienta i zapadają w pamięć. Możemy  zrealizować dowolny  projekt, a jeżeli nie macie Państwu projektu  przygotujemy go specjalnie dla Was. Naszym celem jest tworzenie unikatowych, jedynych w swoim rodzaju serwisów, doskonale dobranych do potrzeb klienta i spełniających najwyższe standardy. W naszych projektach znajdziecie Państwo odbicie najnowszych trendów oraz technologii, możecie  być pewni, że produkt przygotowany przez nas będzie  niepowtarzalny i najwyższej jakości. Wierzymy w siłę reklamy, promocji i internetu, jesteśmy przekonani, że internet jest najlepszym medium służącym promocji i rozpowszechnieniu produktów i usług."
    />
    <Footer />
</SiteLayout>
