---
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../components/OneColumnText.astro';
import ThreeBottom from '../components/ThreeBottom.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
    pageTitle="Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Kim Jesteśmy? O firmie Graf.IT"
    keywords="Graf.IT, Firmy uk, obsluga informatyczna, obsługa firm uk, pomoc dla firm w uk"
    desc="Kim Jesteśmy? O firmie Graf.IT - obsluga informatyczna, obsługa firm uk, pomoc dla firm w uk"
>
    <Header />
    <HeroInner
        subtitle="Witamy "
        title1="Kim jesteśmy"
        title2="UK"
    />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <p class="text-justify">
            Oferujemy Tani Hositng na terenie UK. Dysponujemy serwerami zarówno brytyjskimi jak i polskimi. Nasza pomoc
            techniczna usprawni transfer domen, zmianę serwera czy założenie konta email. Pomozemy przy wyborze domeny
            dla twojej strony www. Pomagamy również przy tworzeniu statystyk stron www w uk. Jestesmy do Twojej
            dyspozycji!
        </p>
        <h2>PROMOCJA CENY TYLKO TERAZ BRYTYJSKI HOSTING!!!</h2>
        <ul class="list-disc ml-5">
            <li>Szybkie i nowowoczesne serwery</li>
            <li>Brytyjskie IP - gwarancja wysokiej pozycji w google UK</li>
            <li>Polskie IP - gwarancja wysokiej pozycji w google Polska</li>
            <li>Pomoc techniczna 24/7</li>
            <li>Możliwość założenia Ceryfikatów Bezpieczeństwa SSL</li>
            <li>Pomoc przy wyborze domeny</li>
            <li>Wsparcie techniczne przy zakładaniu emaila firmowego</li>
            <li>Atrakcyjna cena - od £65 za rok</li>
            <li>Nie czekaj- Graf.IT oferuje najlepszą usługę hostingową w UK. Aby zamówić</li>
        </ul>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
    <TwoColumnImgRight
        showPlural="true"
        title="Dlaczego jesteśmy najlepsi?"
        text="Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową? Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. "
    />
    <TwoColumnLeft
        title="Po co mi strona internetowa?/ Zwiększ zysk swojej firmy"
        text=" Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów. Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem, intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!"
    />

    <ThreeBottom
        title1="20"
        subtitle1="lat doświadczenia"
        text1="Zaufaj naszemu doświadczeniu i powiedz co możemy dla Ciebie zrobić."
        title2="1300"
        subtitle2="stron internetowych"
        text2="Zobacz wybrane realizacje i skorzystaj z naszej oferty."
        title3="24"
        subtitle3="miesięcy gwarancji"
        text3="Masz pewność, że otrzymujesz produkt wysokiej jakości. "
    />
    <InnerPagesTwoColumnBg />
    <OneColumnText />
    <Footer />
</SiteLayout>
