---
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import HowToStart from '../components/HowToStart.astro';
import LogoCarousel from '../components/LogoCarousel.astro';
import OneColumnText from '../components/OneColumnText.astro';
import Prices from '../components/Prices.astro';
import ServicesBoxes from '../components/ServicesBoxes.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
    <Header />
    <HeroInner />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <p class="text-justify">
            Strony internetowe to dziś kluczowy element w budowaniu obecności firm w Internecie. Dla wielu
            przedsiębiorstw strona www to znacznie więcej niż tylko wizytówka — pełni rolę narzędzia do szybkiego i
            efektywnego komunikowania się z klientami. Dobrze zaprojektowana strona internetowa potrafi przyciągnąć
            użytkowników, zatrzymać ich na dłużej i skutecznie zaprezentować ofertę firmy, co w efekcie przekłada się na
            wzrost liczby zapytań i transakcji. Kluczowe znaczenie ma tutaj zarówno estetyka, jak i funkcjonalność
            strony. Strona internetowa musi być łatwa w nawigacji, interaktywna, szybka oraz responsywna na różnych
            urządzeniach, by zapewniała pozytywne doświadczenie użytkowników. Optymalizacja witryny pod kątem SEO, czyli
            odpowiednie wykorzystanie słów kluczowych, takich jak "strony internetowe", pozwala na osiągnięcie wyższej
            pozycji w wynikach wyszukiwania Google. Dzięki temu firma zyskuje większą widoczność, a potencjalni klienci
            łatwiej znajdą i skontaktują się z nią. Warto zatem zadbać o profesjonalne podejście do projektowania stron
            internetowych, które będzie nie tylko atrakcyjne wizualnie, ale także funkcjonalne, szybkie i dobrze
            pozycjonowane.
        </p>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
    <section>
        <div class="columns-1 md:columns-2">
            <div class="ml-16 text-justify">
                <p class="font-bold text-xl mt-6 text-blue-500">Od nas oczekuj więcej niż oferuje konkurencja.</p>
                <h4 class="text-gradient font-bold text-4xl mb-4 leading-normal">Dlaczego jesteśmy najlepsi?</h4>
                <p class="flex items-center gap-3">
                    <span class="text-9xl text-fuchsia-900 font-black">20</span> doświadczenia przy tworzeniu stron www oraz
                    marketingu internetowym
                </p>
                <p>
                    Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową?
                    Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko
                    atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest
                    indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby
                    każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego
                    doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe
                    charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co
                    sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu
                    telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój
                    projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. Y
                </p>
            </div>
            <div>
                <img
                    src="http://grafit.co.uk/grafit-portal/images/projekt.webp"
                    class="img-big-responsive"
                />
            </div>
        </div>
    </section>
    <section>
        <div class="columns-1 md:columns-2">
            <div class="text-justify">
                <img
                    src="http://grafit.co.uk/grafit-portal/images/projekt.webp"
                    class="img-big-responsive"
                />
                <div class="ml-8 mr-16">
                    <p class="font-bold text-xl mt-6 text-blue-500">Od nas oczekuj więcej niż oferuje konkurencja.</p>
                    <h4 class="text-gradient font-bold text-4xl mb-4 leading-normal">
                        Indywidualny projekt strony www
                    </h4>
                    <p>
                        Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną
                        stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana
                        jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów.
                        Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy
                        tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla
                        wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem,
                        intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach
                        - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb
                        klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę
                        użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni
                        zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w
                        wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych
                        klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą
                        wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na
                        każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które
                        sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już
                        dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <OneColumnText />
    <Footer />
</SiteLayout>
