---
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../components/OneColumnText.astro';
import ThreeBottom from '../components/ThreeBottom.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
    pageTitle="Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Pozycjonowanie i optymalizacja www i stron internetowych"
    keywords="Pozycjonowanie stron uk, marketing uk, marketing stron uk, Pozycjonowanie stron internetowych uk, pozycjonowanie uk, optymalizacja stron uk, poprawki stron uk, poprawki stron internetowych uk, projetkowanie grafiki uk, projekty uk, grafika uk, graficzne uk, graficzna uk, reklama w internecie uk, reklama w prasie uk, reklama  na facebooku uk, reklama w fejsie uk, projektowanie logo uk, logo uk, logotypy uk"
    desc="Pozycjonowanie stron uk, marketing uk, marketing stron uk, Pozycjonowanie stron internetowych uk, pozycjonowanie uk, optymalizacja stron uk, poprawki stron uk, poprawki stron internetowych uk, projetkowanie grafiki uk, projekty uk, grafika uk, graficzne uk, graficzna uk, reklama w internecie uk, reklama w prasie uk, reklama  na facebooku uk, reklama w fejsie uk, projektowanie logo uk, logo uk, logotypy uk"
>
    <Header />
    <HeroInner
        subtitle="Pozycjonowanie i optymalizacja stron internetowych w UK."
        title1="Pozycjonowanie"
        title2="stron w UK"
    />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <p class="text-justify">
            Szukasz Pozycjonowania stron w UK? Pozycjonowanie jest w branży internetowej niczym tabela najlepszych
            drużyn sportowych- ta która znajduje się na szczycie cieszy się największą popularnością. Ma również na
            swoim koncie najlepsze wyniki- co w przypadku witryny internetowej przekłada się na konkretne zyski. Tego
            również pragniemy dla Państwa, chcemy aby Państwa firma znalazła się w czołówce firm oferujących dany
            produkt lub usługę. Chcemy, aby internauci, wpisując w wyszukiwarkę nazwę produktu, usługi której szukają
            trafili właśnie do Państwa, aby Państwa firma pojawiła się na pierwszej stronie wyników. Zobacz także:
            pozycjonowanie stron w uk

            <h2>Dlaczgo warto pozycjonować</h2>
            <p class="text-justify">
                Co Oferujemy? Pozycjonowanie stron internetowych w wyszukiwarkach, Optymalizacja stron internetowych,
                Projektowanie logo, Projektowanie grafiki, Redesign strony www, Reklama w internecie, Reklama w prasie,
                Oferujemy Pozycjonowanie już od kilkudziesięciu funtów za słowo kluczowe. Ustaliliśmy taką cenę, gdyż
                chcemy dać możliwość nie tylko firmom, ale i osobą prywatnym na pozycjonowanie ich stron internetowych.
                Gdy w grę wchodzi więcej słów kluczowych ceny mogą być negocjowane. Jeśli uważasz, że to jest za dużo,
                powiedz nam ile chciałbyś płacić za słowo kluczowe i wtedy zadecydujemy wspólnie. Cena przede wszystkim
                zależy od: pozycji w wyszukiwarce, trudności słów kluczowych, budowy i wieku serwisu. Proszę brać pod
                uwagę, że profesjonalne pozycjonowanie jest usługą, która wymaga rozważnych i systematycznych nakładów
                pracy oraz kontroli pozycji słów kluczowych.
            </p>
        </p>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
    <TwoColumnImgRight
        showPlural="true"
        title="Dlaczego jesteśmy najlepsi?"
        text="Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową? Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. "
    />
    <TwoColumnLeft
        title="Po co mi strona internetowa?/ Zwiększ zysk swojej firmy"
        text=" Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów. Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem, intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!"
    />

    <ThreeBottom
        title1="20"
        subtitle1="lat doświadczenia"
        text1="Zaufaj naszemu doświadczeniu i powiedz co możemy dla Ciebie zrobić."
        title2="1300"
        subtitle2="stron internetowych"
        text2="Zobacz wybrane realizacje i skorzystaj z naszej oferty."
        title3="24"
        subtitle3="miesięcy gwarancji"
        text3="Masz pewność, że otrzymujesz produkt wysokiej jakości. "
    />
    <InnerPagesTwoColumnBg />
    <OneColumnText />
    <Footer />
</SiteLayout>
