---
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../components/OneColumnText.astro';
import ThreeBottom from '../components/ThreeBottom.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
    pageTitle="Sklepy internetowe UK, Sklepy internetowe Londyn GrafIT - Sklepy internetowe UK"
    keywords="strony internetowe uk, strony uk, strony www uk, strony www za darmo uk, strona internetowa uk, strona www uk, strona uk, tanie strony internetowe uk, tanie strony uk, tanie strony www uk, tanie www uk, najlepsze strony uk, projektowanie www uk, tworzenie www uk, projektowanie i tworzenie stron www uk, projektowanie i tworzenie stron uk, stron www uk, jak założyć stronę www uk, jak zalozyc strone uk, agencja design w ukie, agencja reklamy uk, reklama uk"
    desc="Tworzymy strony internetowe w UK które wyrozniaja sie profesjonalizmem, dobrze dobrana grafika. Promocja ceny na wszystkie rodzaje stron internetowych trwa!"
>
    <Header />
    <HeroInner
        subtitle="Sklepy internetowe dla firm w UK"
        title1="Sklepy www"
        title2="w UK"
    />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <ul>
            <li>
                <a
                    title="Sklepy internetowe Bath"
                    href="/sklepy-internetowe/bath"
                    >Sklepy internetowe Bath</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Belfast"
                    href="/sklepy-internetowe/belfast"
                    >Sklepy internetowe Belfast</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Birmingham"
                    href="/sklepy-internetowe/birmingham"
                    >Sklepy internetowe Birmingham</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Bristol"
                    href="/sklepy-internetowe/bristol"
                    >Sklepy internetowe Bristol</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Cardiff"
                    href="/sklepy-internetowe/cardiff"
                    >Sklepy internetowe Cardiff</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Coventry"
                    href="/sklepy-internetowe/coventry"
                    >Sklepy internetowe Coventry</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Dublin"
                    href="/sklepy-internetowe/dublin"
                    >Sklepy internetowe Dublin</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Edynburg"
                    href="/sklepy-internetowe/edynburg"
                    >Sklepy internetowe Edynburg</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Glasgow"
                    href="/sklepy-internetowe/glasgow"
                    >Sklepy internetowe Glasgow</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Leeds"
                    href="/sklepy-internetowe/leeds"
                    >Sklepy internetowe Leeds</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Leicester"
                    href="/sklepy-internetowe/leicester"
                    >Sklepy internetowe Leicester</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Liverpool"
                    href="/sklepy-internetowe/liverpool"
                    >Sklepy internetowe Liverpool</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Londyn"
                    href="/sklepy-internetowe/londyn"
                    >Sklepy internetowe Londyn</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Luton"
                    href="/sklepy-internetowe/luton"
                    >Sklepy internetowe Luton</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Manchester"
                    href="/sklepy-internetowe/manchester"
                    >Sklepy internetowe Manchester</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetoweNottingham"
                    href="/sklepy-internetowe/nottingham"
                    >Sklepy internetowe Nottingham</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Peterborough"
                    href="/sklepy-internetowe/peterborough"
                    >Sklepy internetowe Peterborough</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Southampton"
                    href="/sklepy-internetowe/southampton"
                    >Sklepy internetowe Southampton</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Szkocja"
                    href="/sklepy-internetowe/szkocja"
                    >Sklepy internetowe Szkocja</a
                >
            </li>
            <li>
                <a
                    title="Sklepy internetowe Walia"
                    href="/sklepy-internetowe/walia"
                    >Sklepy internetowe Walia</a
                >
            </li>
        </ul>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->

    <OneColumnText />
    <Footer />
</SiteLayout>
