---
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../components/OneColumnText.astro';
import ThreeBottom from '../components/ThreeBottom.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
    pageTitle="Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Sklepy Internetowe UK"
    keywords="sklepy internetowe uk, sklep internetowy uk, sklep uk, sklepy uk, sklep internetowy za darmo uk, tani sklep internetowy uk, tanie sklepy internetowe uk, sklepy online uk, sklep online uk, ecommerce uk, zrobienie sklepu internetowego uk, tworzenie sklepu internetowego uk, projektowanie sklepu internetowego uk, tworzenie sklepu uk, sklepu internetowego uk, sprzedaz przez internet uk, sprzedaż przez internet uk, jak zalozyc sklep internetowy uk, jak założyc sklep internetowy uk, zalozenie sklepu internetowego uk, darmowe sklepy internetowe uk, ecommerce uk"
    desc="sklepy internetowe uk, sklep internetowy uk, sklep uk, sklepy uk, sklep internetowy za darmo uk, tani sklep internetowy uk, tanie sklepy internetowe uk, sklepy online uk, sklep online uk, ecommerce uk, zrobienie sklepu internetowego uk, tworzenie sklepu internetowego uk, projektowanie sklepu internetowego uk, tworzenie sklepu uk, sklepu internetowego uk, sprzedaz przez internet uk, sprzedaż przez internet uk, jak zalozyc sklep internetowy uk, jak założyc sklep internetowy uk, zalozenie sklepu internetowego uk, darmowe sklepy internetowe uk, ecommerce uk"
>
    <Header />
    <HeroInner
        subtitle="Nowoczesne sklepy internetowe dla firm w UK"
        title1="Sklepy internetowe"
        title2="w UK"
    />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <p class="text-justify">
            Chcialbyś zalożyć swój sklep internetowy w UK? Nic prostszego! Sklep powinien być wizytówką każdej firmy,
            wizualnie i funkcjonalnie atrakcyjną dla potencjalnych klientów. Dlatego każdy stworzony przez nas sklep
            posiada unikalną, związaną z branżą oprawę graficzną, wyróżniającą go na tle konkurencji. Oferujemy
            tworzenie, projektowanie oraz wdrożenie sklepów internetowych - kompleksową usługę gotowego sklepu.
        </p>
        <ul>
            <li>• Profesjonalna, estetyczna szata graficzna dostosowana do indywidualnych potrzeb</li>
            <li>• Intuicyjna nawigacja i nieograniczone możliwości administracyjne handlu online</li>
            <li>• Mozliwość edycji, dodawania, usuwania zdjec, produktow, kategorii</li>
            <li>• Płatności online za pośrednictwem różnych operatorów</li>
            <li>• Najbezpieczniejsze rozwiązania dla twoich pieniedzy</li>
            <li>• Ekonomiczny i tańszy niż tradycyjny biznes</li>
            <li>• Setki udogodnień związanych z promocją i pozycjonowaniem</li>
            <li>• Sprawdzone, szybko działające sklepy internetowe</li>
        </ul>
        <p class="text-justify">My wiemy, że zasługujesz na więcej!</p>
        <p>
            Planujesz założyć swój sklep internetowy w UK? Nic prostszego! Zaprojektujemy dla Ciebie sklep internetowy w
            najlepszej cenie! Oferujemy tworzenie, projektowanie oraz wdrożenie profesjonalnych sklepów internetowych -
            kompleksową usługę ecommerce. Nasze sklepy internetowe to gwarancja bezpiecznego, szybkiego i efektywnego
            systemu sprzedaży online. Doradzimy i zaproponujemy sprawdzone rozwiązania, z których z powodzeniem korzysta
            już wiele firm i klientów indywidualnych. Dzięki naszemu doświadczeniu oraz najnowszemu oprogramowaniu
            pomożemy Ci odnieść sukces w e-biznesie! Dziś pojęcie zakupów nieco się różni niż 10 lat temu i nabiera
            jeszcze nowego znaczenia- wg ekspertów sklepy internetowe staną się głównym kanałem sprzedaży nie tylko
            produktów ale także i usług w 2015 roku. Nie czekaj- i Ty możesz zacząć zarabiać przez internet!
        </p>
        <p>Dlaczego nasze sklepy internetowe są lepsze od innych?</p>

        Wygląd sklepu Tworzymy w oparciu o panujące w internecie trendy oraz najnowsze oprogramowanie Sklep internetowy
        zawsze dostosowujemy do Twoich, indywidualnych potrzeb Nie używamy szablonów- tylko naszych autorskich pomysłów
        Administracja sklepu internetowego Nieograniczona ilość produktów Dodawanie/ Edycja/ Usuwanie produktów,
        kategorii, producentów, klientów Możliwość definiowania atrybutów produktów ( np. Kolory, rozmiary, wagi,
        modele) Nieograniczona ilość kategorii, subkategorii oraz producentów Mozliwość dodawania kilku zdjęć do jednego
        produktu Wiele wersji językowych Wiele opcji walutowych Wiele opcji wysyłki Opinie Klientów System Recenzji
        Kanal RSS Wishlist Newsletter System zamówień i zwrotów produktów Oraz wiele innych, przydatnych funkcji sklepu
        internetowego!!! Bezpieczeństwo i funkcjonalność Najbezpieczniejsza wersja sprzedaży online na rynku Szybka
        transakcja dla kupującego (do 4 klinknięć myszką) Aktualizacje do sklepów Możliwość tworzenia kopii zapasowych
        Możliwość zakupów bez rejestracji Możliwość definiowania stanów magazynowych Różne opcje płatnosci (np. karty
        kredytowe, paypal, sagepay) Możliwość drukowania rachunku zamówienia z adresem do wysyłki Szybkie i proste
        wyszukiwanie produktów Dodatkowe opcje: Oferujemy także szybki, sprawdzony hosting Możliwość dodawania banerów
        reklamowych statycznych oraz dynamicznych Statystyki produktów oraz zakupów dokonanych przez klientów Lista
        bestsellerów – najlepiej sprzedających się produktów Możliwość certikatu bezpieczeństwa SSL Efektywne i
        przyjazne pozycjonowanie w wyszukiwarkach google, yahoo, bing, itd. Zadzwoń, napisz! Zamów już dziś!
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->
    <TwoColumnImgRight
        showPlural="true"
        title="Dlaczego jesteśmy najlepsi?"
        text="Szukasz profesjonalnej firmy z UK, która zaprojektuje nowoczesną i funkcjonalną stronę internetową? Grafit to idealne rozwiązanie dla Ciebie! Nasze strony internetowe wyróżniają się nie tylko atrakcyjną ceną, ale także wysoką jakością wykonania i nowoczesnym designem. Każdy projekt jest indywidualnie dopasowany do potrzeb klienta, zapewniając łatwą i intuicyjną obsługę. Dbamy o to, aby każda strona www była nie tylko estetyczna, ale także funkcjonalna, co przyczynia się do pozytywnego doświadczenia użytkownika i lepszego pozycjonowania w Google. Nasze strony internetowe charakteryzują się responsywnością, szybkością ładowania oraz optymalizacją pod kątem SEO, co sprawia, że Twoja firma zyskuje większą widoczność w internecie. Zapraszamy do kontaktu telefonicznego lub osobistego w naszej warszawskiej siedzibie, gdzie szczegółowo omówimy Twój projekt i zaprezentujemy, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu. "
    />
    <TwoColumnLeft
        title="Po co mi strona internetowa?/ Zwiększ zysk swojej firmy"
        text=" Jeśli szukasz profesjonalnej firmy, która zaprojektuje dla Ciebie nowoczesną i funkcjonalną stronę internetową, trafiłeś we właściwe miejsce. Nasza oferta stron internetowych skierowana jest do firm, które pragną zwiększyć swoją obecność w Internecie i dotrzeć do nowych klientów. Dzięki doświadczeniu w branży web designu oraz znajomości najlepszych praktyk SEO, oferujemy tworzenie stron www, które są nie tylko estetyczne, ale także łatwe w obsłudze i przyjazne dla wyszukiwarek internetowych. Nasze strony internetowe charakteryzują się nowoczesnym designem, intuicyjną nawigacją i responsywnością, co zapewnia doskonałe działanie na różnych urządzeniach - komputerach, tabletach i telefonach. Każdy projekt jest dostosowany do indywidualnych potrzeb klienta oraz specyfiki branży, co pozwala na stworzenie strony, która skutecznie przyciąga uwagę użytkowników i zachęca ich do interakcji. Tworzymy strony internetowe, które są w pełni zoptymalizowane pod kątem SEO. Dzięki temu Twoja strona ma większą szansę na wysoką pozycję w wynikach wyszukiwania Google, co wpływa na większą widoczność Twojej firmy i przyciąga nowych klientów. Oferujemy również kompleksowe usługi związane z aktualizacją, konserwacją i poprawą wydajności stron, aby zapewnić ich długoterminową efektywność. Zapewniamy pełne wsparcie na każdym etapie projektu, od koncepcji po wdrożenie, oraz oferujemy atrakcyjne ceny, które sprawiają, że nasze usługi są dostępne dla firm o różnych budżetach. Skontaktuj się z nami już dziś i przekonaj się, jak nasze strony internetowe mogą pomóc w rozwoju Twojego biznesu!"
    />

    <ThreeBottom
        title1="20"
        subtitle1="lat doświadczenia"
        text1="Zaufaj naszemu doświadczeniu i powiedz co możemy dla Ciebie zrobić."
        title2="1300"
        subtitle2="stron internetowych"
        text2="Zobacz wybrane realizacje i skorzystaj z naszej oferty."
        title3="24"
        subtitle3="miesięcy gwarancji"
        text3="Masz pewność, że otrzymujesz produkt wysokiej jakości. "
    />
    <InnerPagesTwoColumnBg />
    <OneColumnText />
    <Footer />
</SiteLayout>
