---
import Header from '../components/Header.astro';
import HeroInner from '../components/HeroInner.astro';
import InnerPagesTwoColumnBg from '../components/InnerPagesTwoColumnBg.astro';
import OneColumnText from '../components/OneColumnText.astro';
import ThreeBottom from '../components/ThreeBottom.astro';
import TwoColumnImgRight from '../components/TwoColumnImgRight.astro';
import TwoColumnLeft from '../components/TwoColumnLeft.astro';
import Footer from '../layout/footer.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout
    pageTitle="Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Strony internetowe UK"
    keywords="strony internetowe uk, strony uk, strony www uk, strony www za darmo uk, strona internetowa uk, strona www uk, strona uk, tanie strony internetowe uk, tanie strony uk, tanie strony www uk, tanie www uk, najlepsze strony uk, projektowanie www uk, tworzenie www uk, projektowanie i tworzenie stron www uk, projektowanie i tworzenie stron uk, stron www uk, jak założyć stronę www uk, jak zalozyc strone uk, agencja design w ukie, agencja reklamy uk, reklama uk"
    desc="Tworzymy strony internetowe w UK które wyrozniaja sie profesjonalizmem, dobrze dobrana grafika. Promocja ceny na wszystkie rodzaje stron internetowych trwa!"
>
    <Header />
    <HeroInner
        subtitle="Strony internetowe dla firm w UK"
        title1="Strony www"
        title2="w UK"
    />
    <!-- <LogoCarousel /> -->
    <div class="container mx-auto my-20 px-5 md:px-0">
        <ul>
            <li>
                <a
                    title="Strony internetowe Anglia"
                    href="/strony-internetowe/anglia"
                    >Strony internetowe Anglia</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Belfast"
                    href="/strony-internetowe/belfast"
                    >Strony internetowe Belfast</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Birmingham"
                    href="/strony-internetowe/birmingham"
                    >Strony internetowe Birmingham</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Bristol"
                    href="/strony-internetowe/bristol"
                    >Strony internetowe Bristol</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Bath"
                    href="/strony-internetowe/bath"
                    >Strony internetowe Bath</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Cardiff"
                    href="/strony-internetowe/cardiff"
                    >Strony internetowe Cardiff</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Dublin"
                    href="/strony-internetowe/dublin"
                    >Strony internetowe Dublin</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Edynburg"
                    href="/strony-internetowe/edynburg"
                    >Strony internetowe Edynburg</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Glasgow"
                    href="/strony-internetowe/glasgow"
                    >Strony internetowe Glasgow</a>
            </li>
            <li>
                <a
                    title="Jaka cena za strone internetową"
                    href="/strony-internetowe/jaka-cena-za-strone-internetową"
                    >Jaka cena za strone internetową</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Leeds"
                    href="/strony-internetowe/leeds"
                    >Strony internetowe Leeds</a>
            </li>
            <li>
                <a
                    title="Strony internetowe Londyn"
                    href="/strony-internetowe/londyn"
                    >Strony internetowe Londyn</a>
            </li>
        </ul>
    </div>
    <!--  <ServicesBoxes />
    <HowToStart />
    <Testimonials />
    <Prices />
    <Form /> -->

    <OneColumnText />
    <Footer />
</SiteLayout>
