<section class="container mx-auto p-6">
    <!-- <div class="big-icon"><span>&#123;</span></div> -->
    <h3 class="text-center font-bold text-5xl text-gradient my-20">Za mało?</h3>
    <p>
        Realizacja naszej umowy na 100% lub zwrot poniesionych kosztów bez zadawania zbędnych pytań. Pomysł i wdrożenie
        poparte kilkunastoletnim doświadczeniem nabytym podczas pracy z dziesiątkami biznesów w PL i UK. Dożywotnią
        gwarancję na stronę internetową, a przyszłe modernizacje masz zawarte w ramach naszej współpracy. Zapytaj
        dlaczego nasze strony to gwarancja sukcesu.
    </p>
    <div class="text-center max-lg:w-full w-1/2 mx-auto">
        <form
            class="flex-col justify-center gap-7 mx-auto"
            action="https://www.form-to-email.com/api/s/JZyA1QySaCrr"
            method="POST"
        >
            <div
                class="active flex-col border-none justify-center items-center max-w-[500px] mx-auto"
                id="pageToShow"
            >
                <h3 class="font-semibold text-2xl text-center mt-4 mb-7">Zacznij teraz. Wystarczy 10 sekund!</h3>
                <div
                    class="flex gap-7"
                    data-nextpage="1"
                >
                    <input
                        id="strony-type"
                        id="XYZ"
                        type="radio"
                        value="Strony"
                        name="Strony"
                        class="absolute opacity-0 w-0 h-0"
                    />
                    <label for="strony-type"> Strona www</label>
                    <input
                        id="sklepy-type"
                        type="radio"
                        id="XYZ2"
                        value="Sklep"
                        name="Strony"
                        class="absolute opacity-0 w-0 h-0"
                    />
                    <label for="sklepy-type"> Sklep internetowy</label>
                </div>
            </div>
            <fieldset
                class="hidden"
                id="pageToShow2"
            >
                <h3 class="font-semibold text-2xl text-center mt-4 mb-7">Z kim się kontaktujemy?</h3>
                <div
                    class="page horizontal flex-col gap-3"
                    data-nextpage="2"
                >
                    <label for="imie">Imię/ Nazwa Firmy:</label>
                    <input
                        id="imie"
                        type="text"
                        value=""
                        name="name"
                        required
                    />
                    <label for="email">Email:</label>
                    <input
                        id="email"
                        type="email"
                        value=""
                        name="email"
                        required
                    />
                    <label for="tel">Telefon:</label>
                    <input
                        id="tel"
                        type="tel"
                        name="tel"
                        required
                    />
                    <a
                        title="contact button"
                        id="kontakt-btn"
                        class="text-white bg-gradient-to-r from-indigo-500 via-blue-500 to-pink-500 hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium text-sm px-5 py-3 text-center ml-3 mb-2"
                        >Potwierdź</a
                    >
                </div>
            </fieldset>
            <fieldset
                class="hidden"
                id="pageToShow3"
            >
                <h3 class="font-semibold text-2xl text-center mt-4 mb-7">Jaki masz budżet?</h3>
                <div class='flex gap-4 mx-auto data-nextpage="3" justify-center'>
                    <input
                        id="budzet-type-1"
                        type="radio"
                        value="powyzej 5"
                        name="budzet-1"
                        class="absolute opacity-0 w-0 h-0"
                    />
                    <label for="budzet-type-1">Poniżej 5000zł</label>
                    <input
                        id="budzet-type-2"
                        type="radio"
                        value="ponizej 5"
                        name="budzet-type-2"
                        class="absolute opacity-0 w-0 h-0"
                    />
                    <label for="budzet-type-2"> Powyżej 5000zł</label>
                </div>
            </fieldset>
            <fieldset
                class="hidden"
                id="pageToShow4"
            >
                <h3 class="font-semibold text-2xl text-center mt-4 mb-7">Jaki jest deadline?</h3>
                <div>
                    <div
                        class="page flex gap-4 mx-auto justify-center"
                        data-nextpage="4"
                    >
                        <input
                            id="strony-type"
                            type="radio"
                            value="Strony"
                            name="Strony"
                            class="absolute opacity-0 w-0 h-0"
                        />
                        <label for="strony-type"> 1 miesiąc</label>
                        <input
                            id="sklepy-type"
                            type="radio"
                            value="Sklep"
                            name="Strony"
                            class="absolute opacity-0 w-0 h-0"
                        />
                        <label for="sklepy-type"> 1 rok</label>
                    </div>
                    <button
                        value="submit"
                        class="text-white bg-gradient-to-r from-indigo-500 via-blue-500 to-pink-500 hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium text-sm px-5 py-3 text-center ml-3 mb-2"
                        >Wyślij zapytanie</button
                    >
                </div>
            </fieldset>
            <!-- <fieldset class="hidden" id="pageToShow5">
                        <h3>Jaki jest deadline?</h3>
                        <div class="page" data-nextpage="5">
                            <label for="imie" name="name">Imię/ Nazwa Firmy:</label>
                            <input id="imie" type="text" value="" name="name" required />
                            <label for="email" name="Sklep">Email:</label>
                            <input id="email" type="email" value="" name="email" required />
                            <label for="tel" name="tel">Telefon:</label>
                            <input id="tel" type="tel" name="tel" required />
                            <button>Submit</button>
                        </div>
                    </fieldset> -->
        </form>
    </div>
</section>
<style>
    .big-icon {
        display: flex;
        justify-content: center;
        color: #ededed;
    }
    .big-icon span {
        font-size: 980px;
        transform: rotate(270deg);
        line-height: 0;
    }

    form label {
        border: 1px solid #d02fe1;
        width: 220px;
        height: 200px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        text-align: center;
        font-size: 28px;
        background-color: #fff;
    }

    label:hover,
    label:checked,
    input:checked + label {
        background: linear-gradient(35deg, #d200ff, #e7134f);
        /* background-color: #d02fe1; */
        color: #fff;
    }

    .page.horizontal {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .page.horizontal input {
        /* width: 100%;
    /* height: 30px !important;
    margin: 0 auto;
    height: auto; */
        padding: 10px;
        border: 2px solid #f72763;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .page.horizontal label {
        border: none;
        width: auto;
        height: auto;
        display: block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        text-align: left;
        font-size: 22px;
    }

    .page.horizontal label:hover {
        background: white;
        color: black;
        cursor: default;
    }
</style>
<script>
    const radioToClick = document.querySelector('#pageToShow input[type="radio"]');

    const radioToClick2Tel = document.querySelector('#pageToShow2 input[type="tel"]');

    const radioToClick2Email = document.querySelector('#pageToShow2 input[type="email"]');

    const radioToClick2Name = document.querySelector('#pageToShow2 input[type="text"]');

    const radioToClick3 = document.querySelector('#pageToShow3 input[type="radio"]');
    const radioToClick4 = document.querySelector('#pageToShow4 input[type="radio"]');
    const radioToClick5 = document.querySelector('#pageToShow5 input[type="radio"]');
    const allPages = Array.from(document.querySelectorAll('.page'));
    const allRadios = document.querySelectorAll('input[type="radio"]');
    let nextPageDom = document.querySelector(`[data-page]`);
    const pageToShow = document.querySelector('#pageToShow');
    const pageToShow2 = document.querySelector('#pageToShow2');
    const pageToShow3 = document.querySelector('#pageToShow3');
    const pageToShow4 = document.querySelector('#pageToShow4');
    const pageToShow5 = document.querySelector('#pageToShow5');
    const kontaktBtn = document.querySelector('#kontakt-btn');

    radioToClick.addEventListener('click', (e) => {
        pageToShow.classList.toggle('hidden');
        pageToShow2.classList.toggle('hidden');
        kontaktBtn.disabled = true;

        let nameCheck = false;
        let telCheck = false;
        let email = false;

        radioToClick2Name.addEventListener('change', (e) => {
            if (radioToClick2Name.checkValidity()) {
                nameCheck = true;
            }

            if (nameCheck && telCheck && email) {
                kontaktBtn.disabled = false;
            }
        });
        radioToClick2Tel.addEventListener('change', (e) => {
            if (radioToClick2Tel.checkValidity()) {
                telCheck = true;
            }
            if (nameCheck && telCheck && email) {
                kontaktBtn.disabled = false;
            }
        });
        radioToClick2Email.addEventListener('change', (e) => {
            if (radioToClick2Email.checkValidity()) {
                email = true;
            }
            if (nameCheck && telCheck && email) {
                kontaktBtn.disabled = false;
            }
        });
    });

    kontaktBtn.addEventListener('click', (e) => {
        pageToShow2.classList.toggle('hidden');
        pageToShow3.classList.toggle('hidden');
    });

    radioToClick3.addEventListener('change', (e) => {
        console.log('click');
        pageToShow3.classList.toggle('hidden');
        pageToShow4.classList.toggle('hidden');
    });

    radioToClick4.addEventListener('change', (e) => {
        pageToShow4.classList.toggle('hidden');
        pageToShow5.classList.toggle('hidden');
    });

    // radioToClick5.addEventListener('change', e => {
    //     // pageToShow3.classList.toggle('hidden');
    //     // pageToShow4.classList.toggle('hidden');
    // });

    // allRadios.forEach((radioBtn) => {
    //     radioBtn.addEventListener("click", (e) => {
    //         const activePage = allPages.find(item => item.classList.contains('active'));
    //         // const nextPage = this.allPages.forEach(page => page.classList.remove('active'))

    //         // const nextPage = allPages.forEach((page) => {
    //         //     console.log(page)

    //         // })
    //         gotonextPage(e);
    //         // console.log(nextPage)
    //         // activePage.classList.add('hidden');

    //     })
    // })
    function gotonextPage(e) {
        console.log(e.target.parentElement.querySelector());
    }

    //typing effect
    ('use strict');
    // Jazz'd up version of the original https://codepen.io/ronniechong/pen/vKbyVg
    const items = [
        'Tworzenie stron internetowych ',
        'Budowa sklepów internetowych ',
        'Seo i Marketing dla firm ',
        'Hosting i obsługa stron www ',
    ];
    const app = document.getElementById('app');
    let count = 0;
    let index = 0;
    let indexStart;
    let indexEnd;
    let isReverse = false;
    let typingEffect = () => {
        let text = items[index];
        if (count <= text.length) {
            setTimeout(
                () => {
                    indexStart = 0;
                    indexEnd = isReverse ? text.length - count : count;
                    let output = text.substring(indexStart, indexEnd);
                    app.innerHTML = output;
                    count++;
                    typingEffect();
                },
                Math.floor(Math.random(10) * 100)
            );
        } else {
            isReverse = !isReverse;
            count = 0;
            if (!isReverse) index = index + 1 < items.length ? index + 1 : 0;
            setTimeout(
                () => {
                    app.innerHTML = '';
                    typingEffect();
                },
                isReverse ? 1500 : 250
            );
        }
    };
    typingEffect();
</script>
