<meta
    name="keywords"
    content="strony internetowe uk, sklepy internetowe uk, jak założyc sklep internetowy uk, wizytówki uk, ulotki uk, plakaty uk, pozycjonowanie stron uk, projektowanie loga uk"
/>
<meta
    name="description"
    content="Tworzenie i pozcyjonowanie stron internetowych w uk, sklepy internetowe uk. Graf it to najlepsza promocja dla twojej firmy!"
/>
<title>Strony internetowe UK, Sklepy internetowe Londyn GrafIT - Home</title>
<!-- <meta
    name="robots"
    content="index, follow"
/> -->
<!--canonical tag-->
<link
    rel="canonical"
    href="https://www.graf-it.co.uk/"
/>
<meta
    property="article:publisher"
    content="https://www.facebook.com/stronyinternetoweuk"
/>
<link
    rel="publisher"
    href="https://plus.google.com/u/0/b/105930518913571394266"
/>
<meta
    name="twitter:title"
    content="We design responsive websites, develop eCommerce, also offer e-marketing, social media campaigns, SEO, graphic design & commmercial photography"
/>
<meta
    name="twitter:site"
    content="@Grafit_uk"
/>
<meta
    name="p:domain_verify"
    content="20da56a4fbebd5e47ae5816bfb6bf984"
/>

<!-- Google tag (gtag.js) -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-MNNDPH3FNQ"
></script>
