---
import { menu } from '../utils/utils';
import MobileMenu from './MobileMenu.astro';
import { Image } from 'astro:assets';
import logo from './../images/logo.png';
---

<header class="bg-black flex justify-between items-center p-4 gap-8">
    <a
        href="/"
        title="Strony www i Sklepy Internetowe UK"
    >
        <Image
            class="w-60 max-w-full"
            alt="logo"
            src={logo}
        />
    </a>
    <nav class="flex items-center gap-4">
        <ul class="md:flex gap-4 hidden">
            {
                menu.map((item) => (
                    <li>
                        <a
                            class="text-white border-b transition-all border-transparent hover:border-white"
                            href={item.url}
                        >
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
        <MobileMenu />

        <!-- <div class="flex gap-4">
            <p class="text-white">
                <a href="tel:07935812988">Tel</a>
            </p>
            <p class="text-white">
                Email: <a href="mail:info@graf-it.co.uk">Wycena</a>
            </p>
        </div> -->
    </nav>
</header>
