<div class="relative isolate overflow-hidden bg-gray-900">
    <svg
        class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
        aria-hidden="true"
    >
        <defs>
            <pattern
                id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc"
                width="200"
                height="200"
                x="100%"
                y="-1"
                patternUnits="userSpaceOnUse"
            >
                <path
                    d="M.5 200V.5H200"
                    fill="none"
                ></path>
            </pattern>
        </defs>
        <svg
            x="50%"
            y="-1"
            class="overflow-visible fill-gray-800/20"
        >
            <path
                d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
                stroke-width="0"
            ></path>
        </svg>
        <rect
            width="100%"
            height="100%"
            stroke-width="0"
            fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"
        ></rect>
    </svg>
    <div
        class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
        aria-hidden="true"
    >
        <div
            class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
            style="clip-path:polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"
        >
        </div>
    </div>
    <div class="mt-[-50px] flex lg:h-auto py-16 items-center justify-center">
        <div class="max-w-full flex-shrink-0 px-4 text-center lg:mx-0 lg:max-w-3xl lg:pt-8">
            <h1 class="mt-10 text-5xl font-bold tracking-tight text-white sm:text-6xl">
                Strony
                <span class="text-sky-500"> internetowe</span> UK
            </h1>
            <p class="mt-6 text-3xl font-bold leading-8 text-purple">
                Fachowa Strona zarabia na siebie i Twoją firmę.<br />Zaufaj specjalistom, a my zrobimy resztę!
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-300">
                Budujemy nowoczesne strony internetowe, które przyciągną nowych klientów i pomnożą twoje zyski.
                Podwyższamy sprzedaż i udoskonalamy wizerunek Twojej firmy.
                <button class="shrink-border">shrink-border</button>
                <button
                    type="button"
                    class="text-white bg-gradient-to-r from-indigo-500 via-blue-500 to-pink-500 hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    >Purple to Pink
                </button>

                <button
                    type="button"
                    class="text-white inline-flex items-center justify-center p-0.5 mb-2 me-2 relative overflow-hidden bg-gradient-to-r from-indigo-500 via-blue-500 to-pink-500 hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm text-center"
                >
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                    >
                        Purple to Pink
                    </span>
                </button>
            </p>
            <div class="mt-5 flex items-center justify-center gap-x-6">
                <button
                    type="button"
                    class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    >ZAPYTAJ JUŻ DZIŚ</button
                >
                <!-- <a
                    href="/register"
                    class="rounded-md bg-sky-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-400"
                    rel="noreferrer"
                    >ZAPYTAJ JUŻ DZIŚ</a
                > -->
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
                >
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                    >
                        ZAMÓW BEZPŁATNĄ WYCENĘ
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- forked from: https://codepen.io/cuonoj/pen/JjPmMaB

<section class="relative h-screen flex flex-col items-center justify-center text-center text-white">
    <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
        <video
            class="min-w-full min-h-full absolute object-cover"
            src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4"
            type="video/mp4"
            autoplay
            muted
            loop
        ></video>
    </div>
    <div class="video-content space-y-2 z-10">
        <h1 class="font-light text-6xl">full Hero Video</h1>
        <h3 class="font-light text-3xl">with TailwindCSS</h3>
    </div>
</section>

<style>
    .video-docker video {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-docker::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
</style>

 <div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
    <video
        autoplay="autoplay"
        loop
        playsinline="playsinline"
        muted="muted"
        id="myVideo"
        poster="https://static.vecteezy.com/system/resources/thumbnails/008/079/146/large/animated-flying-through-the-stars-and-blue-and-red-in-space-suitable-for-background-or-others-free-video.jpg"
        class="absolute inset-0 object-cover object-center w-screen h-svh"
        data-video-player-target="player"
        data-poster="https://static.vecteezy.com/system/resources/thumbnails/008/079/146/large/animated-flying-through-the-stars-and-blue-and-red-in-space-suitable-for-background-or-others-free-video.jpg"
    >
        <source
            src="https://static.vecteezy.com/system/resources/previews/008/079/146/mp4/animated-flying-through-the-stars-and-blue-and-red-in-space-suitable-for-background-or-others-free-video.mp4"
            type="video/mp4"
        />
        <source
            src="https://static.vecteezy.com/system/resources/previews/008/079/146/animated-flying-through-the-stars-and-blue-and-red-in-space-suitable-for-background-or-others-free-video.webm"
            type="video/webm"
        />
    </video>
 <div class="absolute inset-0 bg-black opacity-50"></div>

<div class="flex flex-col justify-center items-center text-center font-textFont">
    <h1 class="text-5xl font-bold leading-tight mb-4 w-1/2 md:w-full">
        <div id="app">Title</div>
    </h1>
    <p class="text-purple text-3xl font-bold w-1/2">Fachowa Strona zarabia na siebie i Twoją firmę.</p>
    <p class="text-purple text-3xl font-bold w-1/2">Zaufaj specjalistom, a my zrobimy resztę!</p>
    <p class="text-lg text-gray-300 my-8 w-1/2">
        Budujemy nowoczesne strony internetowe, które przyciągną nowych klientów i pomnożą twoje zyski. Podwyższamy
        sprzedaż i udoskonalamy wizerunek Twojej firmy.
    </p>
 <p class="text">My wiemy, że zasługujesz na więcej!</p>
    <div class="flex gap-2">
        <a
            href="#"
            class="bg-pink-600 text-gray-900 hover:bg-pink-800 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
            >ZAPYTAJ JUŻ DZIŚ</a
        >
        <a
            href="#"
            class="bg-pink-600 text-gray-900 hover:bg-pink-800 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
            >ZAMÓW BEZPŁATNĄ WYCENĘ</a
        >
   <a class="shrink-border">ZAPYTAJ JUŻ DZIŚ</a>
            <a
                href="/kontakt.html"
                class="shrink-border"
                >ZAMÓW BEZPŁATNĄ WYCENĘ</a
            >
    </div>
</div>
-->
