---
import { Icon } from 'astro-icon/components';
import { menu } from '../utils/utils';
---

<button
    id="mobile-toggle"
    class="md:hidden flex"
    ><Icon
        name="menu"
        class="[&_path]:fill-white w-8 h-8"
    />
</button>

<div
    id="mobile-menu"
    class="hidden w-screen h-screen bg-black fixed inset-0 z-50"
>
    <button
        id="mobile-close"
        class="text-white absolute right-4 top-4"
    >
        <Icon
            name="close"
            class="[&_path]:fill-white w-8 h-8"
        /></button
    >
    <ul class="flex flex-col gap-8 p-6 mt-10">
        {menu.map((item) => <li class="text-white">{item.label}</li>)}
    </ul>
</div>

<script>
    const mobileToggle = document.querySelector('#mobile-toggle');
    const mobileClose = document.querySelector('#mobile-close');
    const mobileMenu = document.querySelector('#mobile-menu');

    mobileToggle.addEventListener('click', (e) => {
        if (mobileMenu.classList.contains('hidden')) mobileMenu.classList.remove('hidden');
        else mobileMenu.classList.add('hidden');
    });

    mobileClose.addEventListener('click', () => {
        if (mobileMenu.classList.contains('hidden') === false) mobileMenu.classList.add('hidden');
    });
</script>
