---
import { Image } from 'astro:assets';
import projektImg from './../images/projekt.webp';
const { title, subtitle, text, text2 } = Astro.props;
---

<section class="relative my-12 flex w-full flex-col items-center sm:mt-24">
    <div class="container text-center">
        <h3 class="text-gradient text-center font-bold text-6xl mb-4 leading-normal">Dlaczego warto?</h3>
        <p class="font-bold text-2xl mb-6 text-blue-500">
            Konkretna reklama, konkretna strona. Stała cena. bez ściemy.
        </p>
        <p class="leading-loose">
            Nasze strony internetowe w uk to gwarancja sukcesu Twojej Firmy. Wygląd strony www dopaswujemy do oczekiwań
            i preferencji każdego klienta. Dodatkowo oferujemy domenę, serwer oraz konto e-mail. Profesjonalna strona
            internetowa uk to także dobrze dobrana i przejrzysta nawigacja oraz funkcjonalność, która pozwala na lepszą
            pozycję w wyszukiwarkach. My wiemy, jak tworzyć dobre strony, dlatego, nasza praca uczyni twoją stronę
            internetową wyjatkową! Nasza firma specjalizuje się w tworzeniu stron internetowych dostosowanych do
            indywidualnych potrzeb klientów. Oferujemy nowoczesne strony internetowe o wysokiej funkcjonalności i
            atrakcyjnym designie. Każda z naszych stron internetowych na zamówienie jest responsywna, co oznacza, że
            działa perfekcyjnie na wszystkich urządzeniach, od komputerów po smartfony. Zaufaj ekspertom w projektowaniu
            stron internetowych i zbuduj swoją obecność w sieci dzięki profesjonalnej stronie www.
        </p>
    </div>
</section>
