<section class="relative my-12 flex w-full flex-col items-center sm:mt-24">
    <div class="container text-center">
        <h3 class="text-gradient text-center font-bold text-6xl mt-20 mb-4 leading-normal">
            Sprawdź jak zmieniliśmy firmę Ogro.
        </h3>
        <p class="font-bold text-2xl mb-6 text-blue-500">Z jednoosobowej małej firmy do biznesu w całym UK.</p>
        <p class="leading-loose">Oto przykład wzrostu sprzedaży i rozwoju naszego klienta.</p>
    </div>
</section>
