---
import { Image } from 'astro:assets';
import icon1 from '../images/icon-01.webp';
import icon2 from './../images/icon-02.webp';
import icon3 from './../images/icon-03.webp';
---

<section class="container mx-auto my-20">
    <h2 class="text-center font-bold text-5xl text-gradient my-20">Co robimy?</h2>
    <div class="columns-1 md:columns-3 gap-4">
        <div class="flex">
            <Image
                class="size-20 mr-5"
                alt="Projektowanie Stron Internetowych"
                src={icon1}
            />
            <div>
                <p>
                    <strong>Projektowanie Stron Internetowych</strong>
                </p>
                <p>Tworzymy estetyczne i funkcjonalne strony, które skutecznie prezentują Twoją markę.</p>
            </div>
        </div>
        <div class="flex">
            <Image
                class="size-20 mr-5"
                alt="Projektowanie Sklepów Internetowych"
                src={icon2}
            />
            <div>
                <p>
                    <strong>Sklepy Internetowe</strong>
                </p>
                <p>Budujemy sklepy online, które zwiększają sprzedaż i zapewniają łatwość zakupów.</p>
            </div>
        </div>
        <div class="flex">
            <Image
                class="size-20 mr-5"
                alt="Optymalizacja stron internetowych, Upgrade i Hosting UK"
                src={icon3}
            />
            <div>
                <p>
                    <strong>Optymalizacja, Upgrade i Hosting</strong>
                </p>
                <p>
                    Pomagamy w poprawie widoczności Twojej strony, xapewniamy hosting oraz stałą opiekę nad Twoją
                    stroną.
                </p>
            </div>
        </div>
    </div>
</section>
