<section class="columns-1 md:columns-5 gap-4">
    <div class="container text-center">
        <p class="text-4xl">
            Pomożemy Ci zwiększyć sprzedaż, oszczędzić czas, usystematyzować i ułatwić prowadzenie biznesu oraz
            przyspieszyć jego rozwój.
        </p>
    </div>
    <div class="row flex">
        <div class="partner-logo"></div>
        <div class="partner-logo"></div>
    </div>
</section>
