<section class="relative h-[400px] bg-slate-200">
    <div
        id="cloud"
        class="bg-white m-auto max-w-72 h-[180px] absolute inset-0 rounded-full text-center text-3xl text-white shadow min-w-[40%] p-4"
    >
        <div
            id="viewport"
            class="h-full overflow-hidden"
        >
            <div
                id="msg-wrapper"
                class="flex transition-all items-center h-full text-sm"
            >
                <div class="min-w-full text-black xyz_msg_1">
                    <h4 class="font-semibold text-2xl">Profesjonalizm i szybkość realizacji</h4>
                    <p>
                        "Jestem bardzo zadowolony z współpracy z tą firmą. Cały proces tworzenia mojej strony
                        internetowej przebiegł bardzo sprawnie, a efekt końcowy jest w pełni zgodny z moimi
                        oczekiwaniami. Zespół wykazał się dużą wiedzą i doświadczeniem, a komunikacja była na wysokim
                        poziomie. Polecam!"
                    </p>
                </div>
                <div class="min-w-full text-black xyz_msg_2">
                    <h4 class="font-semibold text-2xl">Indywidualne podejście do klienta</h4>
                    <p>
                        "Firma świetnie rozumie potrzeby swoich klientów i dostosowuje projekt do ich oczekiwań. Mój
                        sklep internetowy został zaprojektowany z myślą o użytkownikach, a każdy detal został
                        dopracowany. Zespół był elastyczny i otwarty na zmiany, co sprawiło, że cały proces był
                        bezstresowy."
                    </p>
                </div>
                <div class="min-w-full text-black xyz_msg_3">
                    <h4 class="font-semibold text-2xl">Wysoka jakość usług</h4>
                    <p>
                        "Zdecydowałem się na współpracę z tą firmą przy tworzeniu sklepu internetowego i muszę
                        powiedzieć, że to była doskonała decyzja. Strona działa bez zarzutów, jest szybka i intuicyjna w
                        obsłudze. Dodatkowo otrzymałem wsparcie po wdrożeniu, co jest dla mnie ogromnym plusem."
                    </p>
                </div>
                <div class="min-w-full text-black xyz_msg_4">
                    <h4 class="font-semibold text-2xl">Znakomita obsługa klienta</h4>
                    <p>
                        "Jestem bardzo zadowolona z obsługi tej firmy. Zespół był bardzo pomocny na każdym etapie
                        projektu – od pomysłu po wdrożenie. Moja strona internetowa została zaprezentowana w
                        profesjonalny sposób, a wszystkie moje sugestie zostały uwzględnione. Czułam się naprawdę
                        doceniona jako klientka."
                    </p>
                </div>
                <div class="min-w-full text-black xyz_msg_5">
                    <h4 class="font-semibold text-2xl">Szeroka oferta i konkurencyjne ceny</h4>
                    <p>
                        "Zleciłem firmie stworzenie strony internetowej i sklepu online. Otrzymałem kompleksową obsługę
                        – od projektu po pełną integrację z systemem płatności. Ceny są konkurencyjne, a jakość usług na
                        najwyższym poziomie. Zdecydowanie polecam!"
                    </p>
                </div>
                <div class="min-w-full text-black xyz_msg_6">
                    <h4 class="font-semibold text-2xl">Nowoczesne rozwiązania i innowacyjne podejście</h4>
                    <p>
                        "Współpraca z tą firmą to czysta przyjemność. Moja strona została zaprojektowana w sposób
                        nowoczesny, z dbałością o detale. Wprowadzenie nowych funkcji, takich jak integracja z mediami
                        społecznościowymi, naprawdę poprawiło funkcjonalność mojego sklepu. Zdecydowanie godni zaufania
                        specjaliści!"
                    </p>
                </div>
            </div>
        </div>

        <div
            id="circle-wrapper-mob"
            class="lg:hidden flex gap-2"
        >
            <button
                class="_test-mob bg-black p-0 w-4 h-[6px]"
                aria-label="testimonial-1"
            ></button>
            <button
                class="_test-mob bg-black p-0 w-4 h-[6px]"
                aria-label="testimonial-2"
            ></button>
            <button
                class="_test-mob bg-black p-0 w-4 h-[6px]"
                aria-label="testimonial-3"
            ></button>
            <button
                class="_test-mob bg-black p-0 w-4 h-[6px]"
                aria-label="testimonial-4"
            ></button>
            <button
                class="_test-mob bg-black p-0 w-4 h-[6px]"
                aria-label="testimonial-5"
            ></button>
        </div>
    </div>
    <div
        class="hidden shadow-xl rounded-full circle cursor-pointer lg:flex absolute gap-[30px] w-16 left-[200px] top-[50px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-01.webp"
            class="img-fluid"
            alt="client 1"
        />
    </div>
    <div
        class="hidden shadow-xl rounded-full cursor-pointer circle lg:flex absolute gap-[30px] w-36 left-[130px] top-[120px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-02.webp"
            class="img-fluid"
            alt="client 2"
        />
    </div>
    <div
        class="hidden shadow-xl rounded-full cursor-pointer circle lg:flex absolute gap-[30px] w-28 left-[200px] top-[260px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-03.webp"
            class="img-fluid"
            alt="client 3"
        />
    </div>
    <div
        class="hidden shadow-xl rounded-full cursor-pointer circle lg:flex absolute gap-[30px] w-28 right-[200px] top-[260px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-04.webp"
            class="img-fluid"
            alt="client 4"
        />
    </div>
    <div
        class="hidden shadow-xl rounded-full cursor-pointer circle lg:flex absolute gap-[30px] w-24 right-[130px] top-[160px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-05.webp"
            class="img-fluid"
            alt="client 5"
        />
    </div>
    <div
        class="hidden shadow-xl rounded-full cursor-pointer circle lg:flex absolute gap-[30px] w-32 right-[200px] top-[50px] flex-col items-center"
    >
        <img
            src="/src/images/reviews/review-06.webp"
            class="img-fluid"
            alt="client 6"
        />
    </div>
</section>

<script>
    const allCircles = document.querySelectorAll('.circle');

    const mobileButtons = document.querySelectorAll('._test-mob');
    const clouldMessage = document.querySelector('#cloud');
    const msgWrapper = document.querySelector('#msg-wrapper');
    let isMobile = window.screen.size > 600;
    let currentIndex = 0;
    const INTERVAL_DELAY = 2000;

    const moveMessage = (index) => {
        const viewportWidth = document.querySelector('#viewport').getBoundingClientRect().width;

        msgWrapper.style.transform = `translateX(-${viewportWidth * index}px)`;
    };

    const getIndex = (index) => {
        const newIndex = index + 1;
        const lengthToCompare = isMobile ? mobileButtons.length : allCircles.length;

        if (newIndex === lengthToCompare) {
            return 0;
        }

        return newIndex;
    };

    const handleInterval = () => {
        currentIndex = getIndex(currentIndex);
        moveMessage(currentIndex);
    };

    let intervalId = setInterval(handleInterval, INTERVAL_DELAY);

    const handleChange = (index) => {
        currentIndex = index;
        moveMessage(currentIndex);
        clearInterval(intervalId);

        intervalId = setInterval(() => {
            currentIndex = getIndex(currentIndex);
            moveMessage(currentIndex);
        }, INTERVAL_DELAY);
    };

    allCircles.forEach((element, index) => {
        element.addEventListener('click', () => handleChange(index));
    });

    mobileButtons.forEach((button, index) => button.addEventListener('click', () => handleChange(index)));

    const mediaQuery = window.matchMedia('(max-width: 600px)');

    mediaQuery.addEventListener('change', (e) => {
        if (e.matches) {
            currentIndex = 0;
            isMobile = true;
            clearInterval(intervalId);
            mobileButtons.forEach((button) => button.removeEventListener('click', handleChange));
            allCircles.forEach((circle) => circle.removeEventListener('click', handleChange));
            mobileButtons.forEach((button, index) => button.addEventListener('click', () => handleChange(index)));
            intervalId = setInterval(handleInterval, INTERVAL_DELAY);
        } else {
            currentIndex = 0;
            isMobile = false;
            clearInterval(intervalId);
            allCircles.forEach((circle) => circle.removeEventListener('click', handleChange));
            mobileButtons.forEach((button) => button.removeEventListener('click', handleChange));
            allCircles.forEach((circle, index) => circle.addEventListener('click', () => handleChange(index)));
            intervalId = setInterval(handleInterval, INTERVAL_DELAY);
        }
    });
</script>
