---
import { Image } from 'astro:assets';
import projektImg from './../images/projekt.webp';
import { boolean } from 'astro:schema';
const { title, subtitle, text, text2, showBtn } = Astro.props;
---

<section>
    <div class="columns-1 md:columns-2 gap-0">
        <div class="mx-16 text-justify">
            <p class="font-bold text-xl mt-6 text-blue-500">{subtitle}</p>
            <h4 class="text-gradient font-bold text-4xl mb-4 leading-normal">{title}</h4>
            <p>
                {text}
            </p>
            {
                showBtn && (
                    <a
                        href="kontakt.html"
                        class="block w-fit mt-6 text-white bg-gradient-to-r from-indigo-500 via-blue-500 to-pink-500 hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium text-sm px-5 py-3 text-center mb-2"
                    >
                        ZAMÓW BEZPŁATNĄ WYCENĘ
                    </a>
                )
            }
        </div>
        <div>
            <Image
                class="max-w-full"
                alt="logo"
                src={projektImg}
            />
        </div>
    </div>
</section>
<script></script>
