<section>
    <div class="columns-1 md:columns-2">
        <div class="ml-16 text-justify">
            <p class="font-bold text-xl mt-6 text-blue-500">Od nas oczekuj więcej niż oferuje konkurencja.</p>
            <h4 class="text-gradient font-bold text-4xl mb-4 leading-normal">Dlaczego jesteśmy najlepsi?</h4>
            <p class="flex items-center gap-3">
                <span class="text-9xl text-fuchsia-900 font-black">20</span> doświadczenia przy tworzeniu stron www oraz
                marketingu internetowym
            </p>
            <p>
                Nie tylko projektujemy strony internetowe, ale także wspieramy twoją firme na każdym kroku. Oferujemy
                trening z zakresu obsługi strony, instalujemy potrzebne oprogramowanie, pomagamy przy administracji
                stron. Dlatego nasi klienci do nas wracają i nas polecają. Sprawdź co myślą o nas inni. Chcesz wyróżnić
                swoją firmę w internecie? Oferujemy projektowanie stron internetowych zgodnie z najnowszymi trendami i
                potrzebami rynku. Tworzymy strony internetowe dla firm, które są nie tylko estetyczne, ale także
                intuicyjne i funkcjonalne. Zajmujemy się zarówno budową stron internetowych od podstaw, jak i ich
                optymalizacją. Niezależnie od Twojego budżetu, możemy zaprojektować tanie strony internetowe, które
                spełnią Twoje oczekiwania i przyciągną klientów.
            </p>
        </div>
        <div>
            <img
                src="http://grafit.co.uk/grafit-portal/images/projekt.webp"
                class="img-big-responsive"
            />
        </div>
    </div>
</section>
